<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <h1>Hello Moi Nguoi</h1>
  <h2>The Nao Ha ?</h2>
  <h3>Nguyen Thai Hoc 123<h3>
  <h4>sadasd</h4>
  <h5>sadasda</h5>
</body>

</html>
